@model List<ToysForKids.Models.CartItem>
@inject UserManager<AppIdentityUser> userManager
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = "userIs";
    if (User.Identity.IsAuthenticated)
    {
        userId = userManager.GetUserId(User);
    }

}

<h3>Cart</h3>

@if (Model.Count > 0)
{
    long totalAmount = 0;
    long count = 0;
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Count</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="tbody">
            @foreach (var item in Model)
            {
                var cost = item.quantity * item.product.UnitPrice;
                totalAmount += cost;
                count++;
                <tr>
                    <td>@count</td>
                    <td>
                        @item.product.ProductName
                    </td>
                    <td>
                        @item.product.UnitPrice.ToString("n0")
                    </td>
                    <td>
                        <input asp-for="@item.quantity" class="@($"quantity-{item.product.ProductId}")" />
                    </td>
                    <td>
                        @cost.ToString("n0")
                    </td>
                    <td>
                        <button class="btn btn-success updatecartitem" data-productid="@item.product.ProductId">
                            Update
                        </button>
                        <a data-productid="@item.product.ProductId" class="btn btn-danger removeproduct">Remove</a>
                    </td>
                </tr>

            }
        </tbody>
        <tfoot id="tfoot">
            <tr>
                <td colspan="4" class="text-right">Total Amount</td>
                <td>@(totalAmount.ToString("n0"))</td>
                <td><a class="btn btn-success checkout" data-userid="@userId" data-total="@totalAmount">Checkout</a></td>
            </tr>
        </tfoot>
    </table>

}
else
{
    <p class="alert alert-danger">Empty Cart</p>
}
@section Scripts {

    @if (User.Identity.IsAuthenticated)
    {
        <script>
            $('.checkout').click(function (event) {               
                event.preventDefault();
                var userid = $(this).attr("data-userid");
                var total = parseInt($(this).attr("data-total"));
                bootbox.confirm({
                    message: "Are you sure?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function () {
                        $.ajax({
                            url: '/Cart/Checkout',
                            method: 'GET',
                            success: function (result) {
                                $.ajax({
                                    url: `/Order/CreateOrder/${userid}/${result}/${total}`,
                                    method: 'POST',
                                    contentType: 'application/json',
                                    dataType: 'json',
                                    success: function () {
                                        bootbox.alert({
                                            message: "Thank you! Click Ok to continued shopping",
                                            callback: function () {
                                                location.reload();
                                            }
                                        })
                                    },
                                    error: function () {
                                        bootbox.alert("Checkout failed! Please try again!");
                                    }
                                })
                            }
                        })
                    }
                });               
            })
        </script>
    }
    else
    {
        <script>
            $('.checkout').click(function () {
                window.location.href = '/Account/Login';
            })
        </script>
    }
    <script src="~/js/scripts/cart.js" asp-append-version="true"></script>
}
